.slider {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
body {
background-image: url(https://i.stack.imgur.com/FzoNL.jpg);
  background-repeat:repeat;
  color: white;
}

header {
  display: flex;
  align-items: center;
  padding: 5px;
  background: rgb(47, 39, 18);
  background: -moz-linear-gradient(
    left,
    rgb(47, 39, 18) 0%,
    rgb(86, 153, 170) 50%,
    rgb(144, 81, 38) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgb(47, 39, 18) 0%,
    rgb(86, 153, 170) 50%,
    rgb(144, 81, 38) 100%
  );
  background: linear-gradient(
    to right,
    rgb(47, 39, 18) 0%,
    rgb(86, 153, 170) 50%,
    rgb(144, 81, 38) 100%
  );
}

h1 {
  color: #f27c38;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 4px 2px 2px #140905;
  padding: 0px 10px;
}

.headlogo {
  width: 200px;
  height: auto;
}

.carousel-inner img{
  margin:auto;
}
