/* .slider {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
} */

body {
  background-image: url(../../assets/images/dark-denim.jpg);
  background-repeat: repeat;
  color: white;
  font-family: "Eagle Lake", cursive;
}

.nav-ul {
  list-style-type: none;
}

.nav-ul.li {
  display: inline;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-weight: bolder;
  background: rgb(47, 39, 18);
  background: -moz-linear-gradient(
    left,
    rgb(47, 39, 18) 0%,
    rgb(86, 153, 170) 50%,
    rgb(144, 81, 38) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgb(47, 39, 18) 0%,
    rgb(86, 153, 170) 50%,
    rgb(144, 81, 38) 100%
  );
  background: linear-gradient(
    to right,
    rgb(47, 39, 18) 0%,
    rgb(86, 153, 170) 50%,
    rgb(144, 81, 38) 100%
  );
  border-bottom: #140905 solid 2px;
}

nav {
  margin: 20px;
}

.image-logo {
  display: flex;
  justify-content: baseline;
}

h1 {
  color: #f27c38;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 4px 2px 2px #140905;
  padding: 10px 20px;
}

.headlogo {
  height: 175px;
  width: auto;
}

nav button {
  background-color: black;
  font-size: 20px;
}

nav button a {
  color: white;
}

nav button:hover {
  background-color: white;
}

nav button:hover a {
  color: black;
}

.btn:hover {
  background-color: white;
  color: black;
}

.carousel-inner img {
  margin: auto;
}

/* Color of form input boxes */
.form-control {
  color: white;
  font-family: monospace;
  text-rendering: initial;
}

.form-control:focus {
  box-shadow: none;
  color: white;
}

textarea {
  animation-name: none;
  visibility: visible;
}

.sub-page {
  display: flex;
  justify-content: center;
  color: #f27c38;
  font-weight: bolder;
}

.form-values {
  display: flex;
  justify-content: space-between;
}

.gifClass {
  width: 300px;
  height: auto;
}

/* Create.html styles */
.search-input {
  display: flex;
  position: sticky;
  top: 15px;
}

.card-result-img:hover {
  position: relative;
  z-index: 5;
  transform: scale(2.5);
  cursor: pointer;
}

.recently-added-cont {
  position: sticky;
  top: 10px;
}

.card-li {
  background-color: black;
  color: white;
  border-color: white;
}

.card-li:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.recent-btns {
  border: white solid 1px;
  margin-bottom: 5px;
}
